@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-off-brown: #7A4A33;
  --color-dark-blue: #161925;
  --color-green: #5B8266;
  --color-off-white: #F9F5F3;
  --color-black: #0E0209;

  --font-gloock: "Gloock", serif;
  --font-montserrat: "Montserrat", sans-serif;
}