@import "tailwindcss";

.gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal
  }

  :root {
    --off-brown: #7A4A33;
    --dark-blue: #161925;
    --green: #5B8266;
    --off-white: #F9F5F3;
    --black: #0E0209;
  }